* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Anonymous Pro', monospace;
}

header {
	background-color: #000;
	color: #0f0;
	padding: 50px;
	text-align: center;
}

h1 {
	font-size: 48px;
	margin-bottom: 20px;
	letter-spacing: 4px;
}

.photos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 50px;
	background-color: #000;
}

.photo-box {
	background-color: #333;
	margin: 20px;
	padding: 20px;
	width: 300px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #0f0;
}

.photo-box img {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 10px;
}

h3 {
	font-size: 24px;
	margin-bottom: 10px;
}

p {
	color: #0f0;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
}
footer {
	background-color: #000;
	color: #0f0;
	padding: 20px;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}
footer a {
	color: #0f0;
	text-decoration: none;
}
